<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Free Service Quote</h1>
        </div>
        <div class="col-sm-12 md-card-shadow" ng-if="!done">
            <div class="form-item">
                <br>
                <div class="form-group">         
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-bell" />&nbsp;</div>
                        <select class="form-control" ng-model="quote.type">
                          <option value="office">Office Cleaning</option>
                          <option value="home">Home Cleaning</option>
                          <option value="fumigation">Fumigation</option>
                          <option value="ac">Air-Conditioning</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-user" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="quote.fullName" placeholder="Your First and Last Names">
                    </div>
                    <br>
                    <div class="input-group" ng-if="!isLoggedIn()">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-envelope-o" />&nbsp;</div>
                        <input type="email" class="form-control" ng-model="quote.email" placeholder="Email Address">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;&nbsp;<span class="fa fa-phone" />&nbsp;</div>
                        <input type="number" class="form-control" ng-model="quote.mobilePhone" placeholder="Mobile Phone Number">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;&nbsp;<span class="fa fa-globe" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="quote.location" placeholder="Address">
                    </div>
                    <br>
                    <h5>Best Time to Call You:</h5>
                    <textarea class="form-control" rows="1" style="resize:none" ng-model="quote.bestTime"></textarea>
                    <br>
                    <h5>Describe Your Home or Office:</h5>
                    <textarea class="form-control" rows="4" style="resize:none" ng-model="quote.description"></textarea>
                </div>
            </div>       
            <button type="button" class="btn btn-success submit" ng-if="!submitting" ng-disabled="!isValid()" ng-click="request()">
                <span ng-if="isValid()">Request Quote</span>
                <span ng-if="!isValid()">All Fields Above are Required</span>
            </button>
            <button type="button" class="btn btn-success submit" disabled ng-if="submitting">
                <span class="fa fa-spinner fa-spin"></span> Submitting...
            </button>
            <br>
        </div>
        <div class="col-sm-12 md-card-shadow done" ng-if="done">
        	Thank you for your request.<br><br>We will contact you at <b>{{quote.mobilePhone}}</b> as soon as possible.
        </div>
    </div>
</div>