<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Free Service Quote</h1>
        </div>
        <div class="col-sm-12 md-card-shadow" ng-if="!done">
            <div class="form-item">
                <br>
                <div class="form-group">         
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-bell" />&nbsp;</div>
                        <select class="form-control" ng-model="quote.type">
                          <option value="office">Office Cleaning</option>
                          <option value="home">Home Cleaning</option>
                          <option value="fumigation">Fumigation</option>
                          <option value="ac">Air-Conditioning</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-user" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="quote.fullName" placeholder="Your Full Name">
                    </div>
                    <br>
                    <div class="input-group" ng-if="!isLoggedIn()">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-envelope-o" />&nbsp;</div>
                        <input type="email" class="form-control" ng-model="quote.email" placeholder="Email Address" ng-blur="checkEmail()">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;&nbsp;<span class="fa fa-phone" />&nbsp;</div>
                        <input type="number" class="form-control" ng-model="quote.mobilePhone" placeholder="Mobile Phone Number" ng-blur="checkPhone()">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;&nbsp;<span class="fa fa-globe" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="quote.location" placeholder="Address">
                    </div>
                    <br>
                    <h5>Best time to reach you:</h5>
                    <textarea class="form-control" rows="1" style="resize:none" ng-model="quote.bestTime" placeholder="Mornings, 9:30 AM"></textarea>
                    <br>
                    <h5>Describe your <u>place</u> and explain the <u>service</u> you'd like:</h5>
                    <textarea class="form-control" rows="4" style="resize:none" ng-model="quote.description" placeholder="Medium sized building, 3 floors, 30,000 sqr meters. Need full cleaning and fumigation."></textarea>
                </div>
            </div>
            <center><span style="display:block;margin-bottom:15px">
                <div class="alert alert-info">All fields above are required.</div>
                <div class="alert alert-danger" ng-if="emailError || phoneError">
                    <span ng-if="emailError">{{emailError}}</span>
                    <br ng-if="emailError && phoneError">
                    <span ng-if="phoneError">{{phoneError}}</span>
                </div>
            </center>
            <button type="button" class="btn btn-success submit" ng-if="!submitting" ng-disabled="!isValid()" ng-click="request()">
                <span>Request Quote</span>
            </button>
            <button type="button" class="btn btn-success submit" disabled ng-if="submitting">
                <span class="fa fa-spinner fa-spin"></span> Submitting...
            </button>
            <br>
        </div>
        <div class="col-sm-12 md-card-shadow done" ng-if="done">
        	Thank you for your request.<br><br>We will contact you at <b>{{quote.mobilePhone}}</b> as soon as possible.
        </div>
    </div>
</div>