
<footer class="footer">
    <div class="container">
        <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
            <div flex>
                <h2>Location</h2>
                <p>5 Maitama Sule<br>
                    Off Awolowo Road<br>
                    Ikoyi, Lagos, Nigeria</p>
            </div>
            <div flex>
                <h2>Follow Us</h2>
                <p>
                    <a href="https://www.facebook.com/zestcleaningservices.ng?fref=ts"><span class="fa fa-facebook" /></a>
                </p>
            </div>
            <div flex>
                <h2>Contact Us</h2>
                <p><a href="mailto:zest@generationenterprise.org">zest@generationenterprise.org</a>
                    <br> Phone: 08121090833</p>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding layout-align="center center">
            <div>Copyright © 2014 by Zest Cleaning Services | A fully licensed <a href="http://www.generationenterprise.org/">Generation Enterprise</a> Company</div>
        </div>
    </div>
</footer>