.confirm-estimate-container{
    border: 1px solid black;
    min-width: 300px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px;
}

.confirm-form-container{
    border: 1px solid black;
    min-width: 300px;
    min-height: 370px;
}

.confirm-form-container .form-item .comment{
    text-align: left;
    padding-top: 10px;
    line-height: 20px;
}

.confirm-form-container .submit{
    width: 100%;
}