<div class="container page">
    <div layout="row" layout-sm="column" layout-align="center" layout-margin layout-fill layout-padding>
        <div layout="column" layout-align="top">
            <div>
                <h2>Confirm Your Booking</h2></div>
            <div class="schedule-estimate-container md-card-shadow" layout="column">
                <div ng-if="!loading">
                    <span class="pull-left">{{booking.hours}} hour cleaning (₦{{frequencySelected.rate}}/hour)</span>
                    <span class="pull-right">₦{{(booking.hours*frequencySelected.rate).toFixed(1)}}</span>
                </div>
                <div ng-repeat="extra in booking.Cleaning.Extras" ng-if="!loading">
                    <span class="pull-left">+{{extra.description}}</span>
                    <span class="pull-right">₦{{extra.rate.toFixed(1)}}</span>
                </div>
                <div ng-if="!loading" style="font-weight:bold">
                    <span class="pull-left">TOTAL</span>
                    <span class="pull-right">₦{{booking.total().toFixed(1)}}</span>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="space-around center" layout-margin layout-fill layout-padding class="confirm-form-container md-card-shadow">
            <div class="form-item full-width">
                <input type="text" class="form-control" ng-model="card.number" placeholder="Credit Card Number">
                <br>
                <select ng-model="card.month" ng-options="month for month in card.months" class="width-48 pull-left">
                </select>
                <select ng-model="card.year" ng-options="year for year in card.years" class="width-48 pull-right">
                </select>
                <br><br><br>
                <input type="text" class="form-control width-48 pull-left" ng-model="card.cvc" placeholder="CVC">
            </div>
            <div class="form-item full-width">
                <p class="comment"><span class="fa fa-lock display-inline" />&nbsp;&nbsp; For your protection we have secured this form with 256-bit SSL encryption.</p>
                <p class="comment"><span class="fa fa-check display-inline" />&nbsp;&nbsp; You will not be charged until your appointment is complete.</p>
            </div>
            <button type="button" class="btn btn-success submit" ng-click="continue()">Book</button>
        </div>
    </div>
</div>