.confirm-estimate-container{
    xborder: 1px solid black;
    min-width: 300px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px;
}

.confirm-form-container{
    xborder: 1px solid black;
    min-width: 300px;
    max-width: 600px;
    z-index: 999;
    background: #fff;
}

.confirm-form-container .form-item{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.confirm-form-container .form-item .comment{
    text-align: left;
    padding-top: 10px;
    line-height: 15px;
}

.confirm-form-container .submit{
    width: 100%;
}