#banner-ac {
    border-bottom: none;
    margin-top: -20px;
    background: url(../../assets/images/ac-unit-1583x348.jpg) no-repeat;
    background-position: center;
    background-color: #D8D8D8;
    height:170px;
}

#banner-ac h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner-ac button{
    padding:15px;
    font-size: 20px;
    width: 250px;
    font-weight: normal;
}
.xpackages md-card {
    padding: 20px;
    text-align: center;
    z-index: 99999;
}

.priced md-card {
    padding-top: 5px;
}

.priced md-card button {
    text-transform: uppercase;
}

.xpackages.values md-card p {
    height: 50px;
}

.xpackages.values md-card {
    height: 300px;
    max-width: 260px;
    min-width: 250px;
}

.xpackages.fumigation md-card p {
    height: 110px;
}

.xpackages.fumigation md-card {
    height: 450px;
    max-width: 260px;
    min-width: 250px;
}

.xpackages.home md-card {
    height: 450px;
}

.xpackages.home md-card p {
    height: 70px;
}

.xpackages img {
    max-width: 220px;
    max-height: 147px;
    min-height: 147px;
    margin-left: auto;
    margin-right: auto;
}

h2.price {
    color: green;
}

.z-99 {
    z-index: 99;
    background: #fff;
}

.z-999 {
    z-index: 999;
    background: #fff;
}
