.services md-card {
    padding: 20px;
    text-align: center;
    z-index: 99999;
}

.priced md-card {
    padding-top: 5px;
}

.priced md-card button {
    text-transform: uppercase;
}

.services.values md-card p {
    height: 50px;
}

.services.values md-card {
    height: 260px;
    max-width: 260px;
    min-width: 250px;
}

.services md-card p {
    height: 110px;
}

.services md-card {
    height: 260px;
    max-width: 260px;
    min-width: 250px;
}

h2.price {
    color: green;
}

.z-99 {
    z-index: 99;
    background: #fff;
}

.z-999 {
    z-index: 999;
    background: #fff;
}
