#banner {
    border-bottom: none;
    margin-top: -20px;
    background: url(../../assets/images/hero.jpg) no-repeat;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.packages md-card {
    padding: 20px;
    text-align: center;
    z-index: 99999;
}

.priced md-card {
    padding-top: 5px;
}

.priced md-card button {
    text-transform: uppercase;
}

.packages.values md-card p {
    height: 50px;
}

.packages.values md-card {
    height: 300px;
    max-width: 260px;
    min-width: 250px;
}

.packages.commercial md-card p {
    height: 110px;
}

.packages.commercial md-card {
    height: 450px;
    max-width: 260px;
    min-width: 250px;
}

.packages.home md-card {
    height: 450px;
}

.packages.home md-card p {
    height: 70px;
}

.packages img {
<<<<<<< HEAD
    max-width: 220px;
    max-height: 158px;
    margin-left: auto;
    margin-right: auto
=======
    width: 220px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;
>>>>>>> c9eee545a2cc6775462e50217ac1a025a5eafecd
}

h2.price {
    color: green;
}

.z-99 {
    z-index: 99;
    background: #fff;
}

.z-999 {
    z-index: 999;
    background: #fff;
}
