.schedule-estimate-container{
    min-width: 330px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px;
    margin-right: 20px;
}
.schedule-form-container{
    min-width: 300px;
    max-width: 600px;
    z-index: 999;
    background: #fff;
}

.schedule-form-container .form-item{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.schedule-form-container .form-item .comment{
    text-align: left;
    padding-top: 10px;
    line-height: 15px;
}

.schedule-form-container .submit{
    width:95%;
    margin-top: 20px;
}

.full-width, .full-width * {
	width:100%;
	text-align: center;
}

.width-48 {
	width:48%;
}