.schedule-estimate-container{
    border: 1px solid black;
    min-width: 300px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px;
}
.schedule-form-container{
    border: 1px solid black;
    min-width: 300px;
}

.full-width, .full-width * {
	width:100%;
	text-align: center;
}

.width-48 {
	width:48%;
}