<div class="container">
    <div layout="row" layout-sm="column" layout-align="center" layout-margin layout-fill layout-padding>
        <div layout="column" layout-align="top">
            <div>
                <h2>Date and Time</h2></div>
            <div class="schedule-estimate-container">Something</div>
        </div>
        <div layout="column" layout-align="space-around center" layout-margin layout-fill layout-padding class="schedule-form-container">
            <div class="form-item">
                <select selectpicker="" ng-model="model" toggle-dropdown data-toggle="dropdown">
                    <option value="">Select one</option>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
            <div class="form-item">
            </div>
            <div class="form-item">
            </div>
            <div class="form-item">
                We recommend <b>{{recommended()}}</b>
                <p class="comment">It's better to book more time rather than less. You're only charge for the actual lenght of cleaning.</p>
                <h-number value="hours" min="2" max="10" step="0.5" singular="hour" plural="hours"></h-number>
            </div>
            <div class="form-item">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-user" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="fullName" placeholder="Your Full Name">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;<span class="fa fa-envelope-o" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="email" placeholder="Email Address">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon">&nbsp;&nbsp;<span class="fa fa-phone" />&nbsp;</div>
                        <input type="text" class="form-control" ng-model="mobile" placeholder="Mobile Phone Number">
                    </div>
                </div>
            </div>
            <md-button class="md-raised md-primary submit" ng-click="continue()">Schedule</md-button>
        </div>
    </div>
</div>
