<div class="container page">
    <div layout="row" layout-sm="column" layout-align="center" layout-margin layout-fill layout-padding>
        <div layout="column" layout-align="top">
            <div>
                <h2>Date and Time</h2></div>
            <div class="schedule-estimate-container" layout="column">
                <div>
                    <span class="pull-left">{{booking.hours}} {{booking.unit}} cleaning, {{booking.currency}}{{booking.rate}}/{{booking.unit}}</span>
                    <span class="pull-right">{{booking.currency}}{{booking.hours*booking.rate}}
                </div>
                <div ng-repeat="extra in booking.extras">
                    <span class="pull-left">+{{extra.name}}</span>
                    <span class="pull-right">{{booking.currency}}{{extra.price}}</span>
                </div>
                <div>
                    <span class="pull-left">TOTAL</span>
                    <span class="pull-right">{{booking.total()}}</span>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="space-around center" layout-margin layout-fill layout-padding class="schedule-form-container">
            <div class="form-item full-width">
                <select>
                    <option ng-repeat="option in frequency.options">
                        {{option.name}} ({{option.currency}}{{option.rate}}/{{option.unit}})
                    </option>
                </select>
            </div>
            <div class="form-item full-width">
                <select class="width-48 pull-left">
                    <option>Date</option>
                    <option ng-repeat="date in dates">
                        {{date | date:'EEE M/d'}}
                    </option>
                </select>
                <select class="width-48 pull-right">
                    <option>Time</option>
                    <option ng-repeat="time in times">
                        {{time | date:'HH:mm'}}
                    </option>
                </select>
            </div>
            <div class="form-item full-width">
                <div class="form-group">
                        <input type="text" class="form-control" ng-model="address.street" placeholder="Street Address">
                    <br>
                        <input type="text" class="form-control" ng-model="adress.street2" placeholder="Address Line 2">
                    <br>
                        <input type="text" class="form-control" ng-model="adress.city" placeholder="City">
                        <br>
                <input type="text" class="form-control display-inline pull-left width-48" ng-model="adress.state" placeholder="State">
                <input type="text" class="form-control display-inline pull-right width-48" ng-model="adress.code" placeholder="Code">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary submit" ng-click="continue()">Confirm</button>
        </div>
    </div>
</div>