<div class="container page">
    <div layout="row" layout-sm="column" layout-align="center" layout-margin layout-fill layout-padding>
        <div layout="column" layout-align="top">
            <div>
                <h2>Date and Time ({{selected}})</h2></div>
            <div class="schedule-estimate-container" layout="column">
                <div ng-if="!loading">
                    <span class="pull-left">{{boooking.hours}}</span>
                    <span class="pull-right">N{{frequency.selected.rate()}}/hour
                </div>
                <div ng-repeat="extra in BookingSheet.extras" ng-if="!loading">
                    <span class="pull-left">+{{extra.name}}</span>
                    <span class="pull-right">N{{extra.rate}}</span>
                </div>
                <div ng-if="!loading">
                    <span class="pull-left">TOTAL</span>
                    <span class="pull-right">{{BookingSheet.total()}}</span>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="space-around center" layout-margin layout-fill layout-padding class="schedule-form-container" ng-if="loading">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div layout="column" layout-align="space-around center" layout-margin layout-fill layout-padding class="schedule-form-container" ng-if="!loading">
            <div class="form-item full-width">
            <select ng-model="freq" ng-options="frequency.label for frequency in frequencies"></select>
            </div>
            <div class="form-item full-width">
                <select class="width-48 pull-left">
                    <option>Date</option>
                    <option ng-repeat="date in dates">
                        {{date | date:'EEE M/d'}}
                    </option>
                </select>
                <select class="width-48 pull-right">
                    <option>Time</option>
                    <option ng-repeat="time in times">
                        {{time | date:'HH:mm'}}
                    </option>
                </select>
            </div>
            <div class="form-item full-width">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="address.street" placeholder="Street Address">
                    <br>
                    <input type="text" class="form-control" ng-model="adress.street2" placeholder="Address Line 2">
                    <br>
                    <input type="text" class="form-control" ng-model="adress.city" placeholder="City">
                    <br>
                    <input type="text" class="form-control display-inline pull-left width-48" ng-model="adress.state" placeholder="State">
                    <input type="text" class="form-control display-inline pull-right width-48" ng-model="adress.code" placeholder="Code">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary submit" ng-click="continue()">Confirm</button>
        </div>
    </div>
</div>
