.includes {
    width: 800px;
}
.includes .checklist{
    width:400px;
}

.booking-form-container{
    border: 1px solid black;
    min-width: 300px;
}

.booking-form-container .form-item{
    padding: 10px;
    text-align: center;
    width: 100%;
}

.booking-form-container .form-item .comment{
    text-align: left;
    padding-top: 10px;
    line-height: 15px;
}

.extra-item{
    border: 1px solid black;
    margin: 2px;
    height: 80px;
    min-width: 90px;
    text-align: center;
}

.extra-item img{
    display:block;
    height: 60px;
    margin-left: auto;
    margin-right: auto
}

.pets-describe{
    margin-top: 10px;
}